﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: whitesmoke;
}

html, body {
    height: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}


/* CodeExample */
/* box-sizing: border-box is in effect from bootstrap */

.codeExample {
    overflow: hidden;
    border-radius: 0 10px 0 0;
    position: relative;
    border: solid 1px #ccc;
    border-radius: 0 10px 10px 10px;
    -webkit-border-radius: 0 10px 10px 10px;
    -moz-border-radius: 0 10px 10px 10px;
    margin-bottom: 20px;
    background-color: white;
}
.codeExample code {
    display: block;
    white-space: pre; 
    padding: 10px 10px 10px 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #5b5a5a;
    background-color: white;
}
.codeExample div.codeTitle {
    display: block;
    padding:  10px 10px 10px 20px;
    background-color: #eee;
}
.codeExample div.codeTitleBlue {
    background-color: #ECEDF7;
}
.codeExample div.codeTitleGreen {
    background-color: #dbf5db;
}

.codeExample div.codeResults {
    background-color:white;
    border-top: solid 1px #ccc;
    padding: 10px 10px 10px 20px;
    position: relative;
}
.codeExample label {
    background-color: #ccc;
    text-align: center;
    line-height: 30px;
    padding: 5px 20px 3px 20px;
    width: 80px;
    height: 40px;
    border-radius: 0 10px 0 10px;
    position: absolute;
    top:0;
    right:0;
}
.codeExample div.codeResults label  {
    border-radius: 0 0 0 10px;
}
label.codeLabelBlue {
    background-color:#83A8D1;
}
label.codeLabelGreen {
    background-color:#84d183;
}

table {
    border: solid 1px #83A8D1;
    background-color: white;
}
table thead {
    background-color: #83A8D1;
}
.table thead > tr > th {
    border-bottom: none;
}
.table thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th,
.table thead > tr > td,
.table tbody > tr > td,
.table tfoot > tr > td {
    border-top: 1px solid #83A8D1;
}
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #ECEDF7;
}

.topSpace {
    margin-top: 30px;
}
