﻿
<div class="codeExample">
<label class="codeLabel">CODE:</label>
<code>
&#64;using NewLibrary.ForType
&#64;using SeedPacket
&#64;using MvcExamples.Models // change to project namespace

var items = new List&lt;items&gt;().Seed();
</code>
</div>
