﻿
<div class="codeExample topSpace">
<label class="codeLabelBlue">CODE:</label>
<div class="codeTitle codeTitleBlue">Here is the poco class used for the following 3 examples.</div>
<code>
public class Item
{
    public int ItemId { get; set; }
    public string ItemName { get; set; }
    public DateTime Created { get; set;}
}
</code>
</div>


@*
    public class Example
    {
        public int ExampleId { get; set; }
        public string FirstName { get; set; }
        public string LastName { get; set; }
        public decimal NetWorth { get; set; }
        public decimal? Investments { get; set; }
        public DateTime Created { get; set; }
    }
*@
