﻿@using NewLibrary.ForIEnumerable
@using NewLibrary.ForType
@using SeedPacket
@using MvcExamples.Models

@{
    var newRule = new SeedRule("Nested List", typeof(List<Item>), "", (rules, prop) => SeedExampleRules.AddItems<Item>(rules, prop), "Calls nested seed function on list.");
    var seedRules = new SeedRules();
    seedRules.Add(newRule);

    var items4A = new List<Example>().Seed(1, 7, seedRules);
}
<table class="table table-striped">
    <thead>
        <tr>
            <th>ExampleId</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>NetWorth</th>
            <th>Investments</th>
            <th>Email</th>
            <th>Created</th>
            <th>Properties</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in items4A){
        <tr>
            <td>@item.ExampleId</td>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>@item.NetWorth</td>
            <td>@item.Investments</td>
            <td>@item.Email</td>
            <td>@item.Created</td>
            <td>@PropertiesList(item.Properties)</td>
        </tr>
    }
    </tbody>
</table>


@helper PropertiesList(List<Item> itemList){    

   if (itemList.Any()) {
        @Html.DropDownList("Properties", itemList.Select(f => new SelectListItem { Value = f.ItemId.ToString(), Text = f.ItemName }));
    } else {
        @:None  
    }
}






