﻿@using NewLibrary.ForIEnumerable
@using NewLibrary.ForType
@using SeedPacket
@using MvcExamples.Models
@model int?

@{
    var rows = Model.HasValue && Model > 0 ? Model : (int?) 3; // Default
    var users = new List<User>().Seed(rows.Value);
}
<table class="table table-striped topSpace">
    <thead>
        <tr>
            @foreach (var column in typeof(User).GetMetaModel().GetMetaProperties())
            {
                <th>@column.Name</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var user in users)
        {
            <tr>
                @foreach (var prop in user.GetMetaModel().GetMetaProperties())
                {
                    object val = prop.GetInstanceValue();
                    <td>@Html.ValueFor(a => val)</td>
                }
            </tr>
        }
    </tbody>
</table>





