﻿@using NewLibrary.ForType
@using SeedPacket
@using MvcExamples.Models

@{
    var items = new List<Item>().Seed();
}
<table class="table table-striped topSpace">
    <thead>
        <tr>
            @foreach (var column in typeof(Item).GetMetaModel().GetMetaProperties())
            {
                <th>@column.Name</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in items)
        {
            <tr>
                @foreach (var prop in item.GetMetaModel().GetMetaProperties())
                {
                    object val = prop.GetInstanceValue();
                    <td>@Html.ValueFor(a => val)</td>
                }
            </tr>
        }
    </tbody>
</table>



