﻿@using NewLibrary.ForIEnumerable
@using NewLibrary.ForType
@using SeedPacket
@using System.Collections.ObjectModel
@using MvcExamples.Helpers
@using MvcExamples.Models


<div class="row">
    <div class="col-md-6">
        <h2>SeedPacket Overview</h2>
        <p>
            The .Seed() extension method is designed as a quick way to generate seed data in C# for mockups and testing
            purposes. Implemented as an extension method on IEnumerable (similar to many Linq statements). It is easy to
            use in many situations and has a simple rules engine that allows for easy customization of the generated data.
            Seed rules are included for data types such as Bool, Int, Double, Decimal, DateTime, and the nullable versions
            of these type. Rules can also match property names for specific implementations for Address, Phone, Email,
            FirstName, LastName, City, State, Country and more. The existing rules are also blueprints for customization
            to a developer's specific needs.
        </p>
    </div>
    <div class="col-md-6">
        @{ Html.RenderPartial("_Code1"); }
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h3>Basic .Seed() Implementation</h3>
        <p>
            Intial implementation is as simple as importing the NewLibrary namespaces in a page (using MVC Razor in this case)
            and creating a @("new List<t>()"), then adding the Seed() method afterward. By default, 10 rows of data are created
            with custom values for each property.
        </p>
        @{ Html.RenderPartial("_Code1a"); }
    </div>
    <div class="col-md-6">
        @{ Html.RenderPartial("_Result1"); }
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h3>Basic .Seed(int) Specifying Count of Rows</h3>
        <div style="float:right; width: 80px; height: 70px; padding: 10px; margin-left: 10px; background-color: #ccc; text-align: center;">
            Rows<input id="numberOfRowResults" type="text" value="3" maxlength="3" style="width:36px; text-align: center;" />
        </div>
        <p>
            The number of rows be may be passed in to create as many or as few rows as needed. Basic rules are applied by default
            so that integers are given the number of the row, strings are given the field name + the row, etc.
            Advanced rules are also applied by default as we will see in later examples.
        </p>
        @{ Html.RenderPartial("_Code2"); }
    </div>
    <div class="col-md-6" id="rowResults">
        @{ Html.RenderPartial("_Result2"); }
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h3>Basic .Seed(int, int) Specifying Range of Rows</h3>
        <p>
            This is what is produced. This is what is produced. This is what is produced. This is what is produced.
            This is what is produced. This is what is produced. This is what is produced. This is what is produced.
            This is what is produced. This is what is produced. This is what is produced. This is what is produced.
            This is what is produced. This is what is produced. This is what is produced. This is what is produced.
            This is what is produced.
        </p>
        @{ Html.RenderPartial("_Code3"); }
    </div>
    <div class="col-md-6">
        @{ Html.RenderPartial("_Result3"); }
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h3>Advanced Rule Conventions</h3>
        <p>
            This is what is produced. This is what is produced. This is what is produced. This is what is produced.
            This is what is produced. This is what is produced. This is what is produced. This is what is produced.
            This is what is produced. This is what is produced. This is what is produced. This is what is produced.
            This is what is produced. This is what is produced. This is what is produced. This is what is produced.
            This is what is produced.
        </p>
    </div>
    <div class="col-md-6">
        @{ Html.RenderPartial("_Code4"); }
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @{ Html.RenderPartial("_Result4"); }
    </div>
</div>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        seedExamples.init();
    });
</script>



