﻿@using NewLibrary.ForIEnumerable
@using NewLibrary.ForType
@using System.Collections.ObjectModel
@using MvcExamples.Helpers
@using MvcExamples.Models
@using SeedPacket

@{
    var seedRules = new SeedRules(Convert.ToDateTime("1/1/2014"));
    seedRules.AddRange(new List<SeedRule>(){
          new SeedRule("Nullable Decimal2", typeof(Nullable<Decimal>), "", (rules, prop) => ListOfItem(rules, prop) )

    });

    var examples = new List<Example>().Seed(10);
    
    var rule = seedRules.GetRuleByTypeAndName(typeof(Decimal?), "Cost");
}

   <link href="~/Content/Grid.css" rel="stylesheet" />

   @Html.WebGrid(examples).Auto() 

   Rule:  @rule.RuleName Description: @rule.Description

   @* Current Rules 
   @foreach (var rule in seedRules) { 
        <div>@rule.RuleName</div>
   }*@

@functions{
    public static List<Item> ListOfItem(ISeedRules rules, MetaProperty property)
    {
        int diceroll = rules.BaseRandom.Next(0, 10);
        return new List<Item>().Seed(diceroll).ToList();
    }
}