﻿@using NewLibrary.ForIEnumerable
@using NewLibrary.ForType
@using System.Collections.ObjectModel
@using MvcExamples.Helpers
@using MvcExamples.Models
@using SeedPacket


<!DOCTYPE html>
@{
    Layout = null;
    var seedRules = new SeedRules(Convert.ToDateTime("1/1/2014"));
    seedRules.AddRange(new List<SeedRule>(){
                        new SeedRule("Example DateTime with nameMatch.", typeof(DateTime), "create%", (rules, prop) => rules.BaseDateTime.AddDays(rules.Row), "Adds a day for each row."),
                        new SeedRule("Example Collection", typeof(ICollection<Link>), "", (rules, prop) => ExampleRule3(rules, prop), "Calls nested seed function.")                                   
    });

    var words = new List<Word>().Seed(1, 20, seedRules).ToList();
    var grid = new WebGrid(source: words, rowsPerPage: 10);

    var patterns = new List<Pattern>().Seed(15);
    

}
@functions{
    public static object ExampleRule3(ISeedRules rules, MetaProperty property)
    {
        int linksToAdd = rules.BaseRandom.Next(0, 5);
        return new List<Link>().Seed(1, linksToAdd); //String.Join(",", links.Select(n => n.LinkId));
    }
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SeedTests</title>
    <link href="~/Content/Grid.css" rel="stylesheet" />
</head>
<body>
    <div>
        <table style="background-color:lightgray; width: 800px; border: solid 1px #ccc; margin: 20px;">
            <tr>
                @foreach (var column in words.GetMetaModel().GetMetaProperties(exclude: "Links"))
                {
                    <th>@column.Name</th>
                }
            </tr>
            @foreach (var item in words)
            {
                <tr>
                    @foreach (var prop in item.GetMetaModel().GetMetaProperties(exclude: "Links")) 
                    {
                        object val = prop.GetInstanceValue();
                        <td>@Html.ValueFor(a => val)</td>

                        //<td>@Html.DisplayFor(a => val,)</td> // Does not work for object{int}
                    }
                </tr>
            }
        </table>

        <br />
        @Html.WebGrid(words).Auto()  @*Links*@

        <br />
        @Html.WebGrid(patterns).Auto() 
    </div>
</body>
</html>
